.slide {
    position: relative;

    .open-img-container{
        position: absolute;
        border: 1px solid rgba(187, 182, 182, 0.644);
        animation-name: breath;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: reverse;
        border-radius: 50%;
        top: 50%;
        left: calc(50% - 25px/2);
        width: 25px;
        height: 25px;
    }

    .open-img {
        position: absolute;
        top: 50%;
        left: calc(50% - 25px/2);
        border: none;
        background-image: url("/assets/img/lupa.png");
        background-color: gray;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .open-img:hover {
        transform: scale(3);
    }
    
}

#modal-img {
    width: 100%;
}

@keyframes breath {
    from{
        transform: scale(1);
    }

    50%{
        transform: scale(3);
    }
    
    to{
        transform: scale(1);
    }
}