<h2 id="circleTitle">{{ 'common.frontend' | translate }}</h2>
<div id="circle">
    <div class='element'>
        <img src="assets/img/logos/angular-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/ionic-logo.png" alt="ionic-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/javascript-logo.png" alt="javascript-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/html-logo.png" alt="html-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/css-logo.png" alt="css-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/react-logo.png" alt="react-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/jquery-logo.png" alt="jquery-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/bootstrap-logo.png" alt="bootstrap-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/material-ui-logo.png" alt="material-ui-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/angular-material-logo.png" alt="angular-material-logo" />
    </div>
</div>