.section1-container {
    display: flex;
    justify-content: space-around;
    padding: 110px 0 20px;

    #presentation {
        width: 45.2vw;
        max-width: 584px;
        min-height: 350px;
        font-weight: 700;
        font-size: 24px;

        p {
            margin: 0;
        }
    }
    
    #pic-container{
        display: flex;
        flex-direction: column;
        height: 280px;
        img {
            height: 250px;
            border-radius: 20px;
        }

        a{
            color: #E3DAC9;
            margin-top: 10px;

            img{
                height: 30px;
                margin-right: 10px;
            }
        }

        a:hover{
            background-color: #E3DAC9;
            color: #000000;
            transform: skewX(-10deg);
        }
    }

}

#techSkills {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-width: 1292px;
    margin: 0 auto;
    #developer-img {
        position: absolute;
        width: 260px;
        height: 246px;
        left: 516px;
        top: 136px;
    }
}

#contacto {
    position: relative;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

    h2 {
        align-self: center;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    .red-social-button {
        display: flex;
        height: 72px;
        padding: 10px;
        width: 72px;
        border-radius: 10px;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
    
        img {
            width: 100%;
        }
    }
    
    .red-social-button:hover {
        transform: scale(1.3);
    }
}


@media all and (min-width: 1214px) and (max-width: 1280px) {

    #techSkills {
        padding: 20px;

        #developer-img {
            width: 233px;
            height: 219px;
        }
    }
}

@media all and (max-width: 1214px) {
    #techSkills {
        padding: 20px;

        #developer-img {
            display: none;
        }
    }
}

@media all and (max-width: 991px) {
    #techSkills {
        min-height: unset;
    }

    .section1-container {
        padding: 55px 0 20px;

        #presentation {
            font-size: 18px;
        }
    }
}