<h2 id="circleTitle">{{ 'common.backend' | translate }}</h2>
<div id="circle">
    <div class='element'>
        <img src="assets/img/logos/java-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/php-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/python-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/nodejs-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/spring-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/mysql-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/postgresql-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/sql-server-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/mongodb-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/firebase-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/docker-logo.png" alt="angular-logo" />
    </div>
    <div class='element'>
        <img src="assets/img/logos/nestjs-logo.png" alt="angular-logo" />
    </div>
</div>
